# Blender Temporary Files
**/*.blend?
**/*.blend??
**/*.blend???

# PureRef 
**/*.pur

TowerApt/src/**
TowerApt/src/tex/*
!TowerApt/src/tex
!TowerApt/src/tex/.keep
!TowerApt/src/TowerApt-Source.blend
!TowerApt/src/texture_catalog.json


TowerApt/usd/**
!TowerApt/usd
!TowerApt/usd/.keep
!TowerApt/usd/monolithic
!TowerApt/usd/monolithic/.keep

!TowerApt/scripts/blender/extensions/UsdGameExporter/*


